user_uuid="1a960896-90cb-43b7-bf66-3b4a75fd0271"
bucket_name="3hwqpu5r3594te0xalqh47khot3ev49v"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"