terratowns_endpoint="https://terratowns.cloud/api"
lebowski = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/lebowski"
    content_version=1
}
gfcake = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/gfcake"
    content_version=1
}